VITE_SUPABASE_URL=https://uaatpacchgkaqgbtgist.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVhYXRwYWNjaGdrYXFnYnRnaXN0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4Nzk5ODMsImV4cCI6MjA5MDQ1NTk4M30.eVq_kLAEtKxuDMRJrT8dMjaQvIK-_YX7FsOAG6Pcs0c